<div class="col-lg-5">

    <h1 class="title">{{title}} </h1>
    <!-- errors-->
    <div class="alert alert-success" *ngIf='status=="success"'>
        You have successfully registered, <a [routerLink]="['/login']">Log in here</a>
    </div>

    <div class="alert alert-danger" *ngIf='status=="error"'>
        Email or nickname already exists. Try another one.
    </div>


    <!-- FORM-->
    <form #registerForm='ngForm' (ngSubmit)="onSubmit(registerForm)" class='col-lg-10'>
        <p>
            <label>Name</label>
            <input type='text' name='name' #name='ngModel' [(ngModel)]='user.name' class='form-control' required>
            <span *ngIf='!name.valid && name.touched '>name is required</span>
        </p>
        <p>
            <label>Surname</label>
            <input type='text' name='surname' #surname='ngModel' [(ngModel)]='user.surname' class='form-control'
                required>
            <span *ngIf='!surname.valid && surname.touched'>surname is required</span>
        </p>
        <p>
            <label>Nick</label>
            <input type='text' name='nick' #nick='ngModel' [(ngModel)]='user.nick' class='form-control' required>
            <span *ngIf='!nick.valid && nick.touched'>Nick is required</span>
        </p>
        <p>
            <label>Email</label>
            <input type='text' name='email' #email='ngModel' [(ngModel)]='user.email' class='form-control' required
                pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'>
            <span *ngIf='!email.valid && email.touched'>Email not valid</span>
        </p>
        <p>
            <label>Password</label>
            <input type='password' name='password' #password='ngModel' [(ngModel)]='user.password' class='form-control'
                required>
            <span *ngIf='!password.valid && password.touched'>password is required</span>
        </p>
        <input type="submit" value='{{title}}' class='btn btn-success' [disabled]='!registerForm.form.valid'>
    </form>

</div>